# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment
.venv/
env/
venv/

# Ignore IDE config files
.idea/
.vscode/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore test and coverage files
*.coverage
.coverage.*
nosetests.xml
pytest.xml
*.cover
*.hypothesis/

# Ignore dist and build directories
dist/
build/
*.egg-info/

# Ignore package manager files
Pipfile.lock
poetry.lock

# Ignore jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore pyenv settings
.python-version

# Ignore pyinstaller
*.spec

# Ignore mypy configuration
.mypy_cache/

# Ignore tox
.tox/
.nox/

volume/
.env

# Telegram bot test db
test_db.py

# Document Search
chroma_langchain_db/


chat-engine/dialog-flow.json
chat-engine/.eslintrc.js
/chat-engine/generated
chat-engine/.prettierrc
